The following is a summary on a chemical compound of interest from a Wikipedia article.

Compound: {{compound}}

Content:
{{content}}

Give the content and compound of interest. Answer the following question in a JSON format. 
The JSON format must contain answer to the question in text and also provide a list of 
facts from the article that support the answer.

The format for the JSON must be as follows:

{
    "answer": "The answer to the question",
    "facts": [
        "fact 1",
        "fact 2",
        "fact 3"
    ]
}

Answer the following question:

{{question}}