{
    "answer": "Glucose has many important uses. It is a source of energy for all organisms and is essential for metabolism. It is also used medically as an intravenous sugar solution.",
    "facts": [
        "Glucose is the most important source of energy in all organisms.",
        "Glucose for metabolism is stored as a polymer, in plants mainly as starch and amylopectin, and in animals as glycogen.",
        "Glucose, as intravenous sugar solution, is on the World Health Organization's List of Essential Medicines."
    ] 
}